# Database Configuration
DATABASE_URL="file:./dev.db"

# App Configuration
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Clerk Authentication
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_ZmluZS1ob25leWJlZS00MC5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_0DPF2BO6ll9b6d3pbNvKhToTaORLO1d1dIZWoPYeMt
CLERK_WEBHOOK_SECRET=sk_test_0DPF2BO6ll9b6d3pbNvKhToTaORLO1d1dIZWoPYeMt

# Email Service (for invitations) - Optional
# SENDGRID_API_KEY=your-sendgrid-api-key
# EMAIL_FROM=noreply@yourcompany.com